@import url('https://fonts.googleapis.com/css?family=Tangerine');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}